* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open sans", "arial";
  background: rgb(0, 0, 0);
  background: linear-gradient(to right, #0a0 0%, #ccc);
  animation: animatedBackground 1s ease 0 normal infinite both;
}

@keyframes animatedBackground {
  0% {
    background: linear-gradient(to right, #0a0 20%, #ccc);
  }
  100% {
    background: linear-gradient(to right, #0a0 60%, #ccc);
  }
}

h1 {
  margin-bottom: 40px;
  font-size: 40px;
  text-shadow: 1px 0px 2px #48e;
}

.current-player {
  margin-bottom: 20px;
  font-size: 24px;
  text-shadow: 1px 0px 2px #48e;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  background: #0a0;
  margin-top: 40px;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  animation: animatedBackground 3s ease 0 normal infinite both;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 0 0 30px #000;
}

.container__box {
  border: 2px solid #000;
  border-collapse: collapse;
  background-color: rgba(204, 204, 204, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  max-height: 150px;
  max-width: 150px;
  /* text-shadow: 2px 0px 2px #48e; */
  transition: all 0.3s ease-out;
  font-size: 3em;
}

.winner {
  display: none;
  margin-bottom: 20px;
  font-size: 24px;
  text-shadow: 1px 0px 2px #48e;
}

.score-container {
  margin-top: 20px;
  font-size: 24px;
  color: #000;
  text-align: center;
  display: flex;
  gap: 0.5rem;
}

.score {
  position: relative;
}

.score > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  margin: 20px auto 10px;
  color: #000;
}

footer a {
  color: #004;
}
